.body {
          margin: auto;
          width: 50%;
          border: 3px solid black;
          padding: 10px 
       }

.header {
          font-weight: bold;
          font-size: 22px;
          font-family: verdana, helvetica, arial, sans-serif;
          color: black
        }

.address {
          font-weight: bold;
          font-size: 14px;
          font-family: verdana, helvetica, arial, sans-serif;
          color: black
        }

.items {      
          font-size: 12px;
          font-family: verdana, helvetica, arial, sans-serif;
          color: black
        }

.topic {
          font-weight: bold;        
          font-size: 14px;
          font-family: verdana, helvetica, arial, sans-serif;
          color: black
        }

.sub-topic {
          font-weight: bold;        
          font-size: 13px;
          font-family: verdana, helvetica, arial, sans-serif;
          color: black
        }

.list {       
          font-size: 12px;
          font-family: verdana, helvetica, arial, sans-serif;
          color: black
        }

.info {
          font-size: 12px;
          font-family: verdana, helvetica, arial, sans-serif;
          color: black
}



